<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blocks-Home</title>
</head>
<link rel="shortcut icon" href="img/blocklogo.png" type="image/x-icon">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/navbar.css">
<script>
    function logout(){
        document.cookie = 'token' + "=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";
        window.location.href = 'http://localhost:8000/'
    }
</script>
<body>
    <nav>
        <div class="logo">
            <img src="img/logo.png" alt="">Blocks
        </div>
        <div class="logSection">
        <ul>
            <li class="this"><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/myblogs">My Blogs</a></li>
        </ul>
        <% if (!isLogin){%>
        <button class="log_in"><a href="/login"> Log In</a></button>
        <%}else{%>
            <button class="log_in" onclick="logout()">Log Out</button>
            <%}%>
    </div>
    </nav>
    <header>
        <img src="img/logo.png" alt="" id="block-image">
        <div class="text"><h1>
            Blocks
        </h1><div class="detail">
            Write Your Blogs As Your Thoughts <br> Create Account
        </div></div>
        <button id="submit"><a href="/signup"> Create Account</a></button>
    </header>
</body>

</html>