<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">Log In</title>
</head>
<link rel="stylesheet" href="css/signin_login.css">
<link rel="shortcut icon" href="img/blocklogo.png" type="image/x-icon">
<body>
<div class="page">
    <button id="home"><a href="/">Home</a> </button>
    <button id="log_in"><a href="/signup">Sign Up</a> </button>
    <form action="/login" method="post" enctype="application/x-www-form-urlencoded" onsubmit="return validateLogin(this)">
    <div class="container">
        <div class="user">
            <i><img src="img/email.png" alt="Uername" ></i> 
            <input type="email" placeholder="e.g.-jonny@gmail.com" id="email" name="email" onkeypress="validateEmail(this)">
            <p style="color: brown; display: none;" id="warn">enter valid email</p>
        </div>
        <div class="password">
            <i><img src="img/padlock.png" alt="Password"></i>
            <input type="password" placeholder="password" name="password" id="password" onkeypress="validatePass(this)"><img src="img/show_eye.png" alt=""id="show_hide">
            <p style="color: brown; display: none;" id="warnpass">Password must be 5 character long</p>
        </div>
        <div class="submit">
            <button id="submit">
                Log In
        </div>
    </div>
    </form>
    <div class="circle"></div>
    <div class="circle2"></div>
</div>
</body>
<script src="js/validation.js"></script>
</html>